*{
    margin: 0%;
    padding: 0%;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu {

    padding: 0 2vw !important
}

.main{
    /* position: relative; */
    width: 80%;
    margin: 0 auto;
    background-color: red;
    height: 500px;
    clear: both;
}
/* .mainphoto {
    display: block;
    width: 100%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;

}
.content {
    float: center;
    position: absolute;
    z-index: 1000;
    padding: 5px;
    width: 100%;
    top: 20%;
    background: rgba(0, 0, 0, 0.4); 
    color: #bcbcbc; 
}
.title{
    color: white; 
    font-family: 'Trocchi', serif; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 1;
}
.buttons {
    float: left;
    position: absolute;
    top: 60%;
    left: 16%
} */

.banner{
    clear: both;
  }

.bg{
    background-image: url('../image/coverImg10.jpg');
    /* background-position: right top; */
    background-position: 50% 20%;
  }

.bg.bg1{
    background-image: url('../image/coverImg7.jpg');
    /* background-position: bottom; */
    background-position: 50% 50%;
}

.banner-user{
    height: 60vh;
}
.banner-user-elem{
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.banner-user-elem .banner-user-title{
    font-size: 2.5vw;
    top: 35%;
    margin-bottom: 4vh;
}
.banner-user-elem .banner-user-text{
    top: 35%;
}
.banner-user-text{
    font-size: 1vw;
}
.bg{
    /* background-position: 50% 50%; */
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-anim-elem .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
#buttonContainer{
    position: absolute;
    top: 50vh;
    width: 100%;
    /* left: 25%;
    right: 25%; */
    /* background-color: red; */
    z-index: 999;
    height: 5vh;
    text-align: center;
}

.homepageButton{
    width: 10rem;
    min-width: 4rem;
    text-align: center;
}

.homepageButton:nth-child(2){
    margin: 0 5vw 5vw;
    /* left: -1vw; */

}

.homepageButton:nth-child(4){
    margin: 0 0 0 5vw;
    /* left: -1vw; */

}