*{
    margin: 0%;
    padding: 0%;
}

#tutorialContainer{
    position: absolute;
    top: 3rem;
    z-index: 9999;
    height: 350px;
    margin: 0 auto;
    padding: 0 10%;

}

#tutorialTitle{
    margin: 30px 0 100px 0;
    text-align: center;

}

.questionContainer{
    width: 90%;
    /* background-color: red; */
    margin: 130px auto;
    text-align: center;
}

.questionIcon{
    border: 0.1vh solid black;
    padding: 1vh;
    border-radius: 50%;
}

.questionTitle{
    margin-left: 0.7rem;
    font-size: 2rem;

}

#tutorialKeyboard{
    position: relative;
    top: 35rem;
    padding-bottom: 120px;
}

